<!-- As a link -->
<nav class="navbar bg-white mx-5 my-2">
  
    <div class="container-fluid">
      <a class="navbar-brand text-dark fw-medium " href="#">Present</a>

      <span class="navbar-text">
        Navbar text with an inline element
      </span>
    </div>
</nav>
  