<nav class="py-2 bg-body-white">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item"><a href="/" class="nav-link link-body-emphasis px-2 active fw-bold" aria-current="page">Present</a></li>
      
    </ul>

    <% if(user) { %>
    <ul class="nav">
      <li class="nav-item"><a href="/contact/index" class="nav-link link-body-emphasis px-2">Create contact</a></li>
      <li class="nav-item"><a href="/login/logout" class="nav-link link-body-emphasis px-2">Log out</a></li>
    </ul>
    <% } %>
  </div>
</nav>