<%- include('includes/head', {
  title:"Present - Manage your contacs",
  bootstrap: true,
}); %>

    <%- include('includes/bootnav') %>

    <div class="container border rounded ">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-5">
          <h1 class="text-center">Agenda</h1>
          <p class="text-center lead">your contacts are below</p>

          <%- include('includes/messages') %>

          <div class="responsive-table">
            <table class="table my-3">
              <tr>
                <td>Marine</td>
                <td>Houdaille</td>
                <td>+1 (484) 9994402</td>
                <td>marine.houdaille@gmail.com</td>
              </tr>
            </table>
          </div>

        </div>
      </div>
    </div>


<%- include('includes/footer', {
  bootstrap: true,
}); %>