<%- include('includes/head', {
    title:"Present - Sign in",
    bootstrap: true,
}); %>


    <main>
        <%- include('includes/bootnav') %>

            
        <div class="container-fluid">
            <div class="row justify-content-around my-3">
                <div class="col-3 h-100 p-5 bg-body-transparent border rounded-3 border-dark">
                    <div class="mb-3">
                        <h3>Welcome!</h3>
                    </div>
                    
                    <div class="mb-3">
                        <h2>Log in to</h2>
                        <p>Present is simple</p>
                    </div>
                    
                    <form action="/login" method="POST">
                        <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label fw-medium">Email address</label>
                          <input type="email" class="form-control border-dark" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label fw-medium">Password</label>
                          <input type="password" class="form-control border-dark" id="exampleInputPassword1">
                        </div>
                        <div class="py-3 mb-5 d-grid gap-2">
                            <button class="btn btn-dark btn-lg" type="submit">Log in</button>
                        </div>
                        
                        <div class="text-center">
                            <p>Don't have an account?<a href="/signin" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"> Register</a></p>
                        </div>
                      </form>

                </div>
                <div class="col-4">
                    <!-- <img width="100%" src="./assets/js/assets/img/team.svg" alt="Team discussing ideas"> -->
                    <img src="./assets/js/assets/img/team.svg" class="img-fluid" alt="Team discussing ideas">
                </div>
            </div>
        </div>
        
    </main>

<%- include('includes/footer', {
    bootstrap: true,
}); %>
